.box {
  background-color: rgb(236, 192, 137);
  height: 15em;
  width: 15em;
}

.box1 {
  background-color: brown;
  height: 7em;
  width: 5em;
  border: 3px solid blue;
  margin-left: 50px;
  padding-left: 40px;
}

.container {
  background-color: orange;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex {
  background-color: brown;
  height: 40vh;
  width: 40vh;
  padding: 10px;
  margin: 10px;
}
